{% extends "base.html" %}

{% block title %}CLAS Schedule{% endblock %}

{% block content %}
<body class="auth-bg">
  <div class="login-container">
    <h2>Welcome Back</h2>

    {% if success_code %}
      <div class="alert alert-success">{{ success_message }}</div>
    {% endif %}

    {% if error_code %}
      <div class="alert alert-error">{{ error_message }}</div>
    {% endif %}

    {% if info_code %}
      <div class="alert alert-info">{{ info_message }}</div>
    {% endif %}

    <form action="{{ url_for('auth.api_login') }}" method="post">
      <input type="text" name="email" placeholder="Email Address" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Log In</button>
      <a class="btn login-google" href="{{ url_for('auth.login_google') }}">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/768px-Google_%22G%22_logo.svg.png" class="google-icon" />
          Log in with Google
      </a>
    </form>

    <a href="{{ url_for('auth.register') }}">Create an Account</a>
  </div>
</body>
</html>
{% endblock %}